body{
    background-color:  rgb(170, 255, 255);
}
.koz{
    margin-left:  550px;
    margin-right: auto;
color:red   ;



}

.kozz{
    margin-left: 320px;
    margin-right: 200px;
    color: red;
  
}
.kozzz{
    margin-left: 50px;
    
color: red;
}
.kozzzz{
    color: red;
    margin-left: 270px;
}
.a{
    color: rgb(158, 24, 158);
    font-size: 27px;
   
    
}
.b{
    font-size: 22px;
    color: orange;
}
.qw{
    font-size: 35px;
    color: rgb(0, 68, 255)  ;
}
.c{
    color: chartreuse;
    
}
.r{
background-position: 30px;
background-color: salmon;
margin-left: 30px;
margin-right: 220px;
s

}
.t{
    margin-left: 300px;
    margin-right: 40px;
}